body {
    text-align: center;
    padding: 40px 0;
    background-color: aliceblue;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #2e1c94;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
}

p {
    color: #404F5E;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;
    margin: 0;
}

i {
    color: #1833ac;
    font-size: 100px;
    line-height: 200px;
    margin-left: -15px;
}

.card {
    background: rgb(245, 225, 225);
    padding: 60px;
    border-radius: 4px;
    box-shadow: 0 2px 3px #c3caeb;
    display: inline-block;
    margin: 0 auto;
}